:root {
    --sol: #F39c12;
    --lua: #87c6df;

    --light_corpo: #d3dbec;
    --light_menu: #fff;
    --light_titulo: #1300be;
    --light_texto: #000000;

    --dark_corpo: #000000;
    --dark_menu: #181717;
    --dark_titulo: #881b92;
    --dark_texto: #fff;

    --end: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}

body {
    height: 1600vh;
    background-color: var(--light_corpo);
    display: flex;
}

/******** inicio do sidebar *******/

.contencao {
    height: 100%;
    width: 81px;
}

nav.menu-lateral {
    width: 80px;
    height: 100vh;
    background-color: var(--light_menu);
    padding: 40px 0;
    box-shadow: 3px 0 0 var(--light_titulo);
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    overflow: hidden;
    z-index: 5;
}

nav.menu-lateral.expandir {
    width: 300px;
}

.btn-expandir {
    width: 100%;
    padding-left: 10px;
    left: 22px;
    top: 1%;
    position: absolute;
    transform: scale(1.3);
    transition: .5s;
}

nav.menu-lateral.expandir .btn-expandir{
    padding-left: 35px;
}

.btn-expandir > i {
    cursor: pointer;
    font-size: 24px;
    color: var(--light_texto);
    padding: 20px 4%;
}

ul {
    height: 100%;
    list-style-type: none;
    padding-top: 35px;
}

ul li.item-menu {
    transition: .2s;
}

ul li.ativo {
    background-color: var(--light_titulo);
}

ul li.item-menu:hover {
    background-color: var(--light_titulo);
}

ul li.item-menu:hover,
ul li.item-menu a:hover {
    color: var(--light_menu);
}

ul li.item-menu a {
    color: var(--light_texto);
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
    transition: .2s;
}


ul li.item-menu a .txt-link {
    margin-left: 70px;
    transition: .7s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link {
    margin-left: 40px;
    opacity: 1;
}

/***************/

ul li.item-menu a .icon > i {
    font-size: 30px;
    margin-left: 20px;
}

.lingua {
    transform: scale(1.9);
    position: absolute;
    left: 28px;
    top: 77.7%;
}

.checkbox {
    position: absolute;
    opacity: 0;
}

.label{
    background-color: var(--dark_corpo);
    border-radius: 50px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
    position: relative;
    height: 50px;
    width: 26px;

    transform: scale(1.0);
    flex-direction: column;
}

.ball{
    background-color: var(--light_menu);
    border-radius: 50px;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;

    transform: translateY(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball{
    transform: translateY(24px);
}

.img {
    width: 20px;
    height: 20px;
}

#mode_icon {
    cursor: pointer;
    position: absolute;
    left: 30px;
    transform: scale(1.9);
    top: 92.7%;
}

.fa-sun {
    color: var(--sol);
}

.fa-moon {
    color: var(--lua);
}

/******** final do sidebar *******/
.principal{
    width: calc(100% - 81px);
    height: 1600vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

article {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    position: fixed;
    top: 0;
    transition: 1s;
    width: 69%;
    border-radius: 32px;
    height: 70px;
    z-index: 4;
    display: flex; /* Torna o header um contêiner flexível */
    align-items: center; /* Centraliza os itens verticalmente */
    justify-content: center;
}

header.rolagem {
    background-color: var(--light_menu);
    top: 15px;
}

/* quando rolar o scroll muda de cor*/
header.rolagem a {
    color: var(--light_titulo);
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-between; /* Centraliza os itens da lista horizontalmente */
    padding: 0; /* Remove o padding padrão */
    margin: 0;
}

header ul li {
    margin: 0 40px;
    display: inline-block;
    transition: 0.5s;
}

header ul li a {
    color: var(--light_corpo);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.trans:hover {
    text-decoration: underline;
    transform: scale(1.05);
    transition: 0.3s ease-in-out; 
}

.lista:hover > :not(:hover) {
    opacity: 0.3;
}

.banner {
    height: 100%;
    background-image: url(../imagens/O1GnXT.gif);
    background-position: center;
    background-size: cover;
    border-radius: 2%;
    overflow: hidden;
    width: 100%;
}

.studi,
.my,
.habili,
.entregas,
.projetos {
    background-color: var(--light_menu);
    border-radius: 5%;
    width: 1100px;
    height: 200vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1.titulo{
    color: var(--light_titulo);
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.display {
    max-width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    gap: 15px;
    padding: 0px 20px;
}

.texto {
    width: 50%;
    padding: 20px;
    font-size: 20px;
    border-radius: 4%;
    background-color: var(--light_titulo);
}

.texto p {
    margin: 10px 0;
    color: var(--light_menu);
    text-align: center;
}

iframe {
    width: 50%;
    overflow: hidden;
    border-radius: 3%;
    height: 100%;
}

/* Estilo para a tabela de disciplinas */
.tabela-disciplinas {
    width: 90%;
    border-collapse: collapse;
    border-radius: 38px;
    color: var(--light_corpo);
    overflow: hidden;
    margin-top: 18px;
}

.tabela-disciplinas th,
.tabela-disciplinas td {
    text-align: left;
    padding: 8px;
}

/* Cores alternadas para as linhas */
.tabela-disciplinas tr:nth-child(even) {
    background-color: var(--end);
}

.tabela-disciplinas tr:nth-child(odd) {
    background-color: #444;
}

.tabela-disciplinas th {
    background-color: #222;
}

footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 30px;
    background-color: var(--end);
    color: var(--light_corpo);
}

.sun{
    background: linear-gradient(
        174deg,
        rgba(255, 0, 0, 1) 44%,
        rgba(255, 123, 0, 1) 63%
);
    height: 50vmin;
    width: 50vmin;
    margin-top: 28vmin;
    border-radius: 50%;
    box-shadow: 0 -0.5vmin 4vmin red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reflection{
    position: relative;
    background: rgba(255, 123, 0, 1);
    color: rgba(255, 123, 0, 1);
    width: 50vmin;
    height: 3.8vmin;
    border-radius: 50%;
    top: 17vmin;
    box-shadow: 0.5vmin 0 2vmin, -0.5vmin 0 2vmin;
    animation: fade 3s ease-out infinite;
}

.reflection::after{
    content: "";
    position: absolute;
    background: rgba(255, 123, 0, 1);
    color: rgba(255, 123, 0, 1);
    width: 52vmin;
    height: 7vmin;
    border-radius: 50% 90% 50% 80%;
    top: 2.5vmin;
    box-shadow: 0.5vmin 0 2vmin, -0.5vmin 0 2vmin;
}

.reflection::before{
    content: "";
    position: absolute;
    background: rgba(255, 123, 0, 1);
    color: rgba(255, 123, 0, 1);
    width: 43vmin;
    height: 6vmin;
    left: 5vmin;
    border-radius: 50% 90% 50% 80%;
    top: 7vmin;
    box-shadow: 0.5vmin 0 2vmin, -0.5vmin 0 2vmin;
    animation: tide 3s ease-out infinite;
}


@keyframes fade{
    50%{
        transform: translateY(-0.5vmin) scaleY(0.7);
    }
}

@keyframes tide {
    25%{
        transform: translateY(0.3vmin) scale(1, 1.2);
    }
    50%{
        transform: translateY(0.5vmin) scale(1.1, 1.2);
    }
    100%{
        transform: translateY(-1vmin) scale(0.99, 1.3);
    }
}

/********** modo dark ***********/
body.dark{
    background-color: var(--dark_corpo);
}

header.rolagem.dark {
    background-color: var(--dark_menu);
}

header.rolagem.dark a {
    color: var(--dark_titulo);
}

nav.menu-lateral.dark {
    background-color: var(--dark_menu);
    box-shadow: 3px 0 0 #881b92;
}

ul li.item-menu.dark a {
    color: var(--dark_texto);
}


ul li.ativo.dark {
    background-color: var(--dark_titulo);
}

ul li.item-menu.dark:hover {
    background-color: var(--dark_titulo);
}

ul li.item-menu:hover,
ul li.item-menu a:hover {
    color: var(--dark_menu);
}

.btn-expandir.dark > i {
    color: var(--light_menu);
}


.studi.dark,
.my.dark,
.habili.dark,
.entregas.dark,
.projetos.dark{
    background-color: var(--dark_menu);
}

h1.titulo.dark{
    color: var(--dark_titulo);
}
.texto.dark{
    background-color: var(--dark_titulo);
}




.slider{
    height: 100%;
    /*aqui tinha um margin-top:-50px*/
    width: 100%;
    overflow: hidden;
    position: relative;
}
.slider .list .item{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider .list .item .content{
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}

.slider .list .item .content .title,
.slider .list .item .content .type{
    font-size: 5em;
    font-weight: bold;
    line-height: 1.3em;
}
.slider .list .item .type{
    color: #14ff72cb;
}
.slider .list .item .button{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}
.slider .list .item .button button{
    border: none;
    background-color: #eee;
    font-weight: 500;
    cursor: pointer;
    transition: 0.4s;
    letter-spacing: 2px;
}


.slider .list .item .button button:hover{
    letter-spacing: 3px;
}
.slider .list .item .button button:nth-child(2){
    background-color: transparent;
    border: 1px solid #fff;
    color: #eee;
}





/* Thumbnail Section  */
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 60%;
    width: max-content;
    z-index: 3;
    display: flex;
    gap: 20px;
}

.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}

.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}

/* nextPrevArrows Section  */
.nextPrevArrows{
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 3;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.nextPrevArrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #14ff72cb;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}
.nextPrevArrows button:hover{
    background-color: #fff;
    color: #000;
}

/* Animation Part */
.slider .list .item:nth-child(1){
    z-index: 1;
}


/* animation text in first item */
.slider .list .item:nth-child(1) .content .title,
.slider .list .item:nth-child(1) .content .type,
.slider .list .item:nth-child(1) .content .description,
.slider .list .item:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.slider .list .item:nth-child(1) .content .title{
    animation-delay: 0.4s !important;
}
.slider .list .item:nth-child(1) .content .type{
    animation-delay: 0.6s !important;
}
.slider .list .item:nth-child(1) .content .description{
    animation-delay: 0.8s !important;
}
.slider .list .item:nth-child(1) .content .buttons{
    animation-delay: 1s !important;
}




/* Animation for next button click */
.slider.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}

@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.slider.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
.slider.prev .list .item img{
    z-index: 3;
}


@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}


.slider.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}



/* Animation for prev button click */
.slider.prev .list .item:nth-child(2){
    z-index: 2;
}

.slider.prev .list .item:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.slider.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.slider.next .nextPrevArrows button,
.slider.prev .nextPrevArrows button{
    pointer-events: none;
}


.slider.prev .list .item:nth-child(2) .content .title,
.slider.prev .list .item:nth-child(2) .content .type,
.slider.prev .list .item:nth-child(2) .content .description,
.slider.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
@media screen and (max-width: 678px) {
    .slider .list .item .content{
        padding-right: 0;
    }
    .slider .list .item .content .title{
        font-size: 50px;
    }
}