:root {
    --sol: #F39c12;
    --lua: #87c6df;

    --light_corpo: #d3dbec;
    --light_menu: #fff;
    --light_titulo: #1300be;
    --light_texto: #000000;
    --light_detalhe: #a5b4fc;

    --dark_corpo: #000000;
    --dark_menu: #181717;
    --dark_titulo: #881b92;
    --dark_texto: #fff;
    --dark_detalhe: #c521aa;

    --end: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}

html{
    scroll-behavior: smooth;
}

body {
    height: 1100vh;
    background-color: var(--light_corpo);
    display: flex;
}

/****************************************************** saidbar *******************************************************************/

.contencao {
    height: 100%;
    width: 81px;
}

nav.menu-lateral {
    width: 80px;
    height: 100vh;
    background-color: var(--light_menu);
    padding: 40px 0;
    box-shadow: 3px 0 0 var(--light_titulo);
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    overflow: hidden;
    z-index: 5;
}

nav.menu-lateral.expandir {
    width: 300px;
}

.btn-expandir {
    width: 100%;
    padding-left: 10px;
    left: 22px;
    top: 1%;
    position: absolute;
    transform: scale(1.3);
    transition: .5s;
}

nav.menu-lateral.expandir .btn-expandir{
    padding-left: 35px;
}

.btn-expandir > i {
    cursor: pointer;
    font-size: 24px;
    color: var(--light_texto);
    padding: 20px 4%;
}

ul {
    height: 100%;
    list-style-type: none;
    padding-top: 35px;
}

ul li.item-menu {
    transition: .2s;
}

ul li.ativo {
    background-color: var(--light_titulo);
}

ul li.item-menu:hover {
    background-color: var(--light_titulo);
}

ul li.item-menu:hover,
ul li.item-menu a:hover {
    color: var(--light_menu);
}

ul li.item-menu a {
    color: var(--light_texto);
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
    transition: .2s;
}


ul li.item-menu a .txt-link {
    margin-left: 70px;
    transition: .7s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link {
    margin-left: 40px;
    opacity: 1;
}


ul li.item-menu a .icon > i {
    font-size: 30px;
    margin-left: 20px;
}

/****************************************************** mudança de idioma *******************************************************************/

.lingua {
    transform: scale(1.9);
    position: absolute;
    left: 28px;
    top: 77.7%;
}

.checkbox {
    position: absolute;
    opacity: 0;
}

.label{
    background-color: var(--dark_corpo);
    border-radius: 50px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
    position: relative;
    height: 50px;
    width: 26px;

    transform: scale(1.0);
    flex-direction: column;
}

.ball{
    background-color: var(--light_menu);
    border-radius: 50px;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;

    transform: translateY(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball{
    transform: translateY(24px);
}

.img {
    width: 20px;
    height: 20px;
}

/****************************************************** mudança de tema *******************************************************************/

#mode_icon {
    cursor: pointer;
    position: absolute;
    left: 30px;
    transform: scale(1.9);
    top: 92.7%;
}

.fa-sun {
    color: var(--sol);
}

.fa-moon {
    color: var(--lua);
}
/******** final do sidebar *******/

/****************************************************** corpo do site *******************************************************************/

.principal{
    width: calc(100% - 81px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;/*tem que se ver obrigatório ter se não buga tudo*/
}

.flutuante{
    position: fixed;
    bottom: 5%;
    z-index: 6;
    left: 95%;
}

.flutuante i{
    font-size: 30px;
    transform: scale(1.5);
    color:  #25D366;
    cursor: pointer;
}

/****************************************************** cabeçalho *******************************************************************/

article {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    position: fixed;
    top: 0;
    transition: 1s;
    width: 69%;
    border-radius: 32px;
    height: 70px;
    z-index: 4;
    display: flex; /* Torna o header um contêiner flexível */
    align-items: center; /* Centraliza os itens verticalmente */
    justify-content: center;
}

header.rolagem {
    background-color: var(--light_menu);
    top: 15px;
}

/* quando rolar o scroll muda de cor*/
header.rolagem a {
    color: var(--light_titulo);
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-between; /* Centraliza os itens da lista horizontalmente */
    padding: 0; /* Remove o padding padrão */
    margin: 0;
}

header ul li {
    margin: 0 40px;
    display: inline-block;
    transition: 0.5s;
}

header ul li a {
    color: var(--light_corpo);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.trans:hover {
    text-decoration: underline;
    transform: scale(1.05);
    transition: 0.3s ease-in-out; 
}

.lista:hover > :not(:hover) {
    opacity: 0.3;
}

/******************************************   slider   *****************************************/
.slider{
    height: 100%;
    /*aqui tinha um margin-top:-50px*/
    width: 100%;
    overflow: hidden;
    position: relative;
}
.slider .list .item{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;/* subsitui o left, top etc */
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* o conetuedo é redmensionado para cobirir completamente o container, mas mantendo a sua proporção*/
}
.slider .list .item .content{
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}

.slider .list .item .content .title,
.slider .list .item .content .type{
    font-size: 5em;
    font-weight: bold; /* trata a grossura da letra, bold deixa maior que o normal*/
    line-height: 1.3em;
}
.slider .list .item .type{
    color: var(--light_titulo);
}
.slider .list .item .button{
    display: grid;
    grid-template-columns: repeat(2, 130px);/*layout das colunas, repeat ta criando um padrão de repetição */
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}
.slider .list .item .button button{
    border-radius: 10px;
    border: none;
    background-color: var(--light_titulo);
    font-weight: 500;
    cursor: pointer;
    transition: 0.4s;
    letter-spacing: 2px;/* espaçamento entre as caractres do texto*/
}
.slider .list .item .button button a{
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
    text-align: center;
}


.slider .list .item .button button:hover{
    letter-spacing: 3px;
}
.slider .list .item .button button:nth-child(2){
    background-color: transparent;
    border: 1px solid #fff;
    color: #eee;
} /* permite que selecione um ou mais elementos com base na sua posição entre os irmãos do documento*, nesse caso é o segundo elemento dentro do pai/





/* Thumbnail Section  */
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 60%;
    width: max-content;
    z-index: 3;
    display: flex;
    gap: 20px;
}

.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0; /* define a capacidade de encolhimento de um elemnto caso necessario e o fator também*/
    position: relative;
}

.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}

/* nextPrevArrows Section  */
.nextPrevArrows{
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 3;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.nextPrevArrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--light_titulo);
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}
.nextPrevArrows button:hover{
    background-color: #fff;
    color: #000;
}

/* Animation Part */
.slider .list .item:nth-child(1){
    z-index: 1;
}


/* animation text in first item */
.slider .list .item:nth-child(1) .content .title,
.slider .list .item:nth-child(1) .content .type,
.slider .list .item:nth-child(1) .content .description,
.slider .list .item:nth-child(1) .content .buttons,
.slider .list .item:nth-child(1) .content .buttons a
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.slider .list .item:nth-child(1) .content .title{
    animation-delay: 0.4s !important;
}
.slider .list .item:nth-child(1) .content .type{
    animation-delay: 0.6s !important;
}
.slider .list .item:nth-child(1) .content .description{
    animation-delay: 0.8s !important;
}
.slider .list .item:nth-child(1) .content .buttons{
    animation-delay: 1s !important;
}




/* Animation for next button click */
.slider.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}

@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.slider.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
.slider.prev .list .item img{
    z-index: 3;
}


@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}


.slider.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}



/* Animation for prev button click */
.slider.prev .list .item:nth-child(2){
    z-index: 2;
}

.slider.prev .list .item:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.slider.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.slider.next .nextPrevArrows button,
.slider.prev .nextPrevArrows button{
    pointer-events: none;
}


.slider.prev .list .item:nth-child(2) .content .title,
.slider.prev .list .item:nth-child(2) .content .type,
.slider.prev .list .item:nth-child(2) .content .description,
.slider.prev .list .item:nth-child(2) .content .buttons, 
.slider.prev .list .item:nth-child(2) .content .buttons a
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
@media screen and (max-width: 678px) {
    .slider .list .item .content{
        padding-right: 0;
    }
    .slider .list .item .content .title{
        font-size: 50px;
    }
}
/**************************************** fim *********************************************************/

/****************************************************** conteudos (ta na ordem)  *******************************************************************/

.habili{
    background-color: var(--light_menu);
    width: 100%;
    height: 200vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.habili .titulo{
    color: var(--light_titulo);
    text-align: center;
    margin-bottom: 15px;
    margin-top: 100px;
    transform: scale(1.5);
}

.espaco{
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
}	

.img-chris{
    border-radius: 10px;
    height: 90vh;
    width: 90vh;
}

.servico{
    width: 100vh;
    background-color: var(--light_titulo);
    height: 100%;
    font-size: 20px;
    border-radius: 5%;
   text-align: center;
   align-items: center;
   display: flex;
   color: var(--light_menu);
}

/****************************************************** carrossel  *******************************************************************/

.logos{
    width: 80%;
    height: 60vh;
    overflow: hidden;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 16px;
}

.peixe{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    animation: 20s carrosel infinite linear;
}

.img-logo{
    height: 50vh;
}

@keyframes carrosel{
    0%{
        transform: translateX(50%);
    }
    100%{
        transform: translateX(-45%);
    }
}
/********* fim do conteudo 1 **********/

.studi {
    background-color: var(--light_menu);
    border-radius: 5%;
    width: 1100px;
    height: 200vh;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 10px;
}

.studi .titulo{
    color: var(--light_titulo);
    text-align: center;
    margin-top: 50px;
    transform: scale(1.5);
}

.display {
    max-width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    gap: 15px;
    padding: 0px 20px;
}

.texto {
    color: var(--light_menu);
    text-align: center;
    width: 50%;
    font-size: 20px;
    border-radius: 4%;
    background-color: var(--light_titulo);
    display: flex;
    align-items: center;
    height: 100%;
}

iframe {
    width: 50%;
    overflow: hidden;
    border-radius: 3%;
    height: 100%;
}

/************************************************** Estilo para a tabela de disciplinas ***************************************/
.tabela-disciplinas {
    width: 90%;
    border-collapse: collapse;
    border-radius: 38px;
    color: var(--light_corpo);
    overflow: hidden;
    margin-top: 18px;
}

.tabela-disciplinas th,
.tabela-disciplinas td {
    text-align: left;
    padding: 8px;
}

/* Cores alternadas para as linhas */
.tabela-disciplinas tr:nth-child(even) {
    background-color: var(--end);
}

.tabela-disciplinas tr:nth-child(odd) {
    background-color: #444;
}

.tabela-disciplinas th {
    background-color: #222;
}
/********************** fim do conteudo 2 ********************/


/*************************************************** entregas ********************************************/
.entregas {
    background-color: var(--light_corpo);
    border-radius: 5%;
    width: 1100px;
    height: 130vh;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.tab-buttons {
    display: flex;
    gap: 6px;
}

.tab-btn {
    width: 100%;
    border: none;
    color: var(--light_corpo);
    background-color: var(--light_titulo);
    border-radius: 8px 8px 0px 0px;
    font-weight: 500;
    padding: 8px;
    cursor: pointer;
    transition: background-color .3s ease;
}

.tab-btn.active {
    background-color: var(--light_menu);
    color: var(--dark_corpo);
}

.tab-btn:hover {
    background-color: var(--light_detalhe);
}

.conteudo {
    display: none;
}

.conteudo.show {
    display: flex;
    gap: 14px;
    background-color: var(--light_menu);
    border-radius: 0 0 5% 5%;
    padding: 16px;
    height:96%;
    flex-direction: column;
    align-items: center;
}

.content-img {
    width: 90%;
    height: 370px;
    border-radius: 30px;
}

p.content-description, .content-title{
    color: var(--light_texto);
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}
/**************************fim das entregas (conteudo 3) *****************************/

/******************************************** projetos ********************************************/

.projetos{
    width: 100%;
    height: 250vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projetos  .titulo{
    color: var(--light_titulo);
    text-align: center;
    margin-bottom: 20px;
    transform: scale(1.5);
}

.filtro{
    background-color: var(--light_menu);
    align-items: center;
    display: flex;
    justify-content: center;
    top: 0;
    width: 69%;
    border-radius: 32px;
    height: 70px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
}

.filtro ul{
    width: 100%;
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}

.classe{
    color: var(--light_titulo);
    font-size: 20px;
    font-weight: bold;
    transform: scale(1.0);
    cursor: pointer;
    opacity: 0.3;
}

.classe:hover{
    opacity: 1;
}

.classe.presente{
    opacity: 1;
}


/* HTML */
.html {
    background-color: rgb(227, 76, 38);
}

/* JavaScript */
.javascript {
    background-color: rgb(240, 219, 79);
}

/* Jupyter */
.jupyter {
    background-color: rgb(255, 103, 0);
}

/* CSS */
.css {
    background-color: rgb(38, 77, 228);
}

/* React */
.react {
    background-color: rgb(97, 218, 251);
}

/* Node.js */
.nodejs {
    background-color: rgb(93, 155, 85);
}

/* TypeScript */
.typescript {
    background-color: rgb(0, 122, 204);
}

/* Express.js */
.expressjs {
    background-color: rgb(0, 0, 0);
}

/* C */
.c {
    background-color: rgb(104, 33, 122);
}

/* C++ */
.cpp {
    background-color: rgb(73, 190, 104);
}

/* C# */
.csharp {
    background-color: rgb(255, 203, 66);
}

/* Python */
.python{
    background-color: rgb(53, 114, 165);
}

/* SQL */
.sql {
    background-color: rgb(0, 115, 155);
}

/* NoSQL */
.nosql {
    background-color: rgb(153, 51, 204);
}

#no_results {
    display: none;
    text-align: center;
    font-size: 20px;
}

/* Grupo do input de pesquisa */
.input-group {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 8px 16px 8px 8px;
    border-radius: 24px;
    gap: 8px;
}

/* Ícone do input de pesquisa */
.input-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    min-height: 32px;
    border-radius: 100%;
    background-color: #6046ff;
    color: #fff;
    cursor: pointer;
}

/* Campo de input de pesquisa */
.input-field {
    width: 100%;
    border: none;
    background-color: transparent; 
}

/* Remove a borda quando o campo está em foco */
.input-field:focus{
    outline: none;
}

.navegacao{
    background-color: white;
    width: 1100px;
    height: 90vh;
    display: flex;
    overflow-y: scroll;
    border-radius: 15px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    top: 0;
    gap: 20px;
}

.cartoes{
    background-color: rgba(77, 72, 72, 0.904);
    width: 300px;
    height: 400px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
    padding: 10px;
}

.cartoes img{
    width: 80%;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
}

.cartoes a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}


.cartoes .visualizar{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    border: none;
}	

.fa-regular.star{
    font-size: 23px;
    cursor: pointer;
    color: var(--light_menu);
}

.fa-solid.star{
    font-size: 23px;
    cursor: pointer;
    color: red;
}

.cartoes section{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.cartoes .titulo{
    color: var(--light_menu);
    font-size: 13px;
    margin-bottom: 10px;
    margin: 0 5px 10px 5px ;
}

.item-description {
    display: none;
}

.linguagem{
    padding: 5px;
    border-radius: 10px;
    font-size: 16px;
}

.informa{
    display: flex;
    gap:25px;
    align-items: center;
}

/****************************************************** span das informações *******************************************************************/
.span {
	top: 0;  
	left: 0;
	height: 100%;  
	width: 100%;
	position: fixed;
	display: flex;
	background-color: rgba(0, 0, 0, 0.4); 
	z-index: 7;
    align-items: center;
    justify-content: center;
}


.span .tudo-proj{
    width: 1100px;
    height: 70vh;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 15px;

}

.span .tudo-proj img{
    width: 50%;
    height: 90%;
    display: flex;
}

.span .tudo-proj i{
    font-size: 20px;
    cursor: pointer;
    color: white;
    color: black;
    padding: 10px;
    position: absolute;
    top: 15%;
    right: 10%;
    display: flex;
}

.span .tudo-proj i:hover{
    color: red;
}

.span .info-proj{
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
    gap: 10px;
}

.info-proj .titulo{
    margin-bottom: 10px;
    color: var(--dark_corpo);
}

 .tudo-proj{
display: none;
}
 .tudo-proj img{
    display: none;
}

.tudo-proj i{
    display: none;
}


 .info-proj{
    display: none;
}
/***************** fim dos projetos (conteudo 4)*****************/

footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 101vh;
    font-size: 30px;
    background-color: var(--end);
    color: var(--light_corpo);
    flex-wrap: wrap;
    gap: 10px;
}

footer h1{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

/****************************************************** animação do sol  *******************************************************************/

.sun{
    background: linear-gradient(
        174deg,
        rgba(255, 0, 0, 1) 44%,
        rgba(255, 123, 0, 1) 63%
);
    height: 50vmin;
    width: 50vmin;
    border-radius: 50%;
    box-shadow: 0 -0.5vmin 4vmin red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reflection{
    position: relative;
    background: rgba(255, 123, 0, 1);
    color: rgba(255, 123, 0, 1);
    width: 50vmin;
    height: 3.8vmin;
    border-radius: 50%;
    top: 17vmin;
    box-shadow: 0.5vmin 0 2vmin, -0.5vmin 0 2vmin;
    animation: fade 3s ease-out infinite;
}

.reflection::after{
    content: "";
    position: absolute;
    background: rgba(255, 123, 0, 1);
    color: rgba(255, 123, 0, 1);
    width: 52vmin;
    height: 7vmin;
    border-radius: 50% 90% 50% 80%;
    top: 2.5vmin;
    box-shadow: 0.5vmin 0 2vmin, -0.5vmin 0 2vmin;
}

.reflection::before{
    content: "";
    position: absolute;
    background: rgba(255, 123, 0, 1);
    color: rgba(255, 123, 0, 1);
    width: 43vmin;
    height: 6vmin;
    left: 5vmin;
    border-radius: 50% 90% 50% 80%;
    top: 7vmin;
    box-shadow: 0.5vmin 0 2vmin, -0.5vmin 0 2vmin;
    animation: tide 3s ease-out infinite;
}


@keyframes fade{
    50%{
        transform: translateY(-0.5vmin) scaleY(0.7);
    }
}

@keyframes tide {
    25%{
        transform: translateY(0.3vmin) scale(1, 1.2);
    }
    50%{
        transform: translateY(0.5vmin) scale(1.1, 1.2);
    }
    100%{
        transform: translateY(-1vmin) scale(0.99, 1.3);
    }
}

/****************************************************** tema escuro *******************************************************************/

body.dark{
    background-color: var(--dark_corpo);
}

header.rolagem.dark {
    background-color: var(--dark_menu);
}

header.rolagem.dark a {
    color: var(--dark_titulo);
}

nav.menu-lateral.dark {
    background-color: var(--dark_menu);
    box-shadow: 3px 0 0 #881b92;
}

ul li.item-menu.dark a {
    color: var(--dark_texto);
}


ul li.ativo.dark {
    background-color: var(--dark_titulo);
}

ul li.item-menu.dark:hover {
    background-color: var(--dark_titulo);
}

ul li.item-menu:hover,
ul li.item-menu a:hover {
    color: var(--dark_menu);
}

.btn-expandir.dark > i {
    color: var(--light_menu);
}


.studi.dark, .navegacao.dark, .habili.dark, .filtro.dark{
    background-color: var(--dark_menu);
}

.entregas.dark{
    background-color: var(--dark_corpo);
}

.tab-btn.dark {
    color: var(--light_menu);
    background-color: var(--dark_titulo);
}

.tab-btn.active.dark {
    background-color: var(--dark_menu);
}

.tab-btn.dark:hover {
    background-color: var(--dark_detalhe);
}


.conteudo.show.dark {
    background-color:var(--dark_menu);
}

p.content-description.dark, .content-title.dark{
    color: var(--dark_texto);
}

.cartoes .titulo.dark{
    color:var(--dark_corpo);
}

.cartoes.dark{
    background-color: rgba(253, 253, 253, 0.952);
}

.titulo.dark, .classe.dark{
    color: var(--dark_titulo);
}
.texto.dark, .servico.dark{
    background-color: var(--dark_titulo);
}

.slider .list .item .type.dark{
    color: var(--dark_titulo);
}

.slider .list .item .button.dark button{
    background-color: var(--dark_titulo);
}

.nextPrevArrows.dark button{
    background-color: var(--dark_titulo);
}

.nextPrevArrows.dark button:hover{
    background-color: #fff;
    color: #000;
}

.fa-regular.star.dark{
    color: var(--dark_corpo);
}

.visualizar.dark{
    background-color: var(--dark_corpo);
    color: var(--dark_texto);
}

.input-icon.dark{
    background-color: var(--dark_titulo);
}
.input-group.dark{
    background-color: var(--dark_menu);
} 

.input-field.dark{ 
    color: var(--light_menu);
}

#no_results .dark{
    color: var(--light_menu);
}

.tentativa.dark{
    color: var(--dark_texto);
}

/****************************************************** tags somente do celular *******************************************************************/

.gambi{
    display:none;
}

.tentativa{
    display: none;
}

.amem{
    display: none;
}

.amem i{
    color: rgba(255, 54, 54, 0.973);
}

@media(max-width: 685px) {
    body{
        height: 1000svh;
    }
    .contencao{
        display:none;
        z-index: 8;
        width: 10px;
    }
    nav.menu-lateral{
        width: 80px;
        height: 100dvh;
    }
    .gambi{
        display: flex;
    }
    .tentativa{
        display: flex;
        font-size: 17px;
        padding-right: 14px;
        background-color: transparent;
        border: none;
    }
    .jesus{
        display: none;
    }
    .amem{
        display: flex;
    }
    .mobi{
        display: none;
    }
    .principal{
        width: 100%;
    }
    .flutuante{
        left: 87%;
        bottom: 2%;
    }
    header{
    width: 100dvh;
    border-radius: 0;
    gap: 5px;
    }
    header.rolagem{
        top: 0;
        height: 85px;
    }
    header ul{
        margin: 8px;
        justify-content: space-between;
    }
    header ul li{
        margin: 6px;
    }
    header ul li a{
        font-size: 16px;
    }
    .slider .list .item .content{
        top: 10%;
        width: 100%;
        padding-right: 0;
        left: 45%;
    }
    .slider .list .item .content .title{
        font-size: 36px;
    }
    .habili{
        height: 150dvh;
    }
    .habili .titulo{
        top: 0;
        padding-bottom:20px ;
    }
    .espaco{
        flex-direction: column;
        height: 100dvh;
    }
    .img-chris{
        width: 90%;
        height: 85%;
    }
    .servico{
        width: 100%;
        height: 60dvh;
        border-radius: 0;
    }
    .logos{
        height: 40dvh;
    }
    .img-logo{
        height: 30dvh;
    }
    .studi{
        width: 100%;
        height: 150dvh;
        border-radius: 0;
    }
    .display{
        padding: 0;
    }
    .video{
        display:none;
    }
    .texto{
        width: 100%;
        border-radius: 0;
    }
    .entregas{
        width: 100%;
        border-radius: 0;
    }
    .conteudo.show{
        padding: 10px;
        border-radius: 0;
    }
    .tab-buttons{
        flex-direction: column;
        gap: 10px;
    }
    .projetos{
        width: 100%;
        height: 150vh;
    }
    .filtro{
        width: 100%;
        border-radius: 0;
    }
    .filtro ul{
        width: 100%;
        flex-wrap: wrap;
    }
    .navegacao{
        width: 100%;
        height: 60dvh;
    }
    .span .tudo-proj img{
        height: 70%;
    }
    .span .tudo-proj  i{
        right: 5%;
    }
    footer{
        height: 100dvh;
    }
    footer p{
        font-size: 20px;
     }
     .tabela-disciplinas{
        width: 250px;
        border-radius: 0;
     }
     .tabela-disciplinas th,
     .tabela-disciplinas td {
         font-size: 8px; /* Ajuste o tamanho da fonte conforme necessário */
         padding: 1px; /* Ajuste o padding conforme necessário */
     }
}


@media(min-width: 690px) and (max-width: 1100px){
    body{
        height: 1000svh;
    }
    .contencao{
        display:none;
        z-index: 8;
        width: 10px;
    }
    nav.menu-lateral{
        width: 80px;
        height: 100dvh;
    }
    .gambi{
        display: flex;
    }
    .tentativa{
        display: flex;
        font-size: 30px;
        padding-right: 16px;
        background-color: transparent;
        border: none;
    }
    .jesus{
        display: none;
    }
    .amem{
        display: flex;
    }
    .mobi{
        display: none;
    }
    .principal{
        width: 100%;
    }
    .flutuante{
        left: 87%;
        bottom: 2%;
    }
    header{
    width: 100dvh;
    border-radius: 0;
    gap: 30px;
    }
    header.rolagem{
        top: 0;
        height: 85px;
    }
    header ul{
        margin: 8px;
        justify-content: space-between;
        width: 100%;
    }
    header ul li{
        margin: 6px;
    }
    header ul li a{
        font-size: 30px;
    }

    .habili{
        height: 150dvh;
    }
    .habili .titulo{
        top: 0;
        padding-bottom:20px ;
    }
    .espaco{
        flex-direction: column;
        height: 100dvh;
    }
    .img-chris{
        width: 85%;
        height: 93%;
    }
    .servico{
        width: 100%;
        height: 60dvh;
        border-radius: 0;
    }
    .logos{
        height: 40dvh;
    }
    .img-logo{
        height: 30dvh;
    }
    .studi{
        width: 100%;
        height: 150dvh;
        border-radius: 0;
    }
    .display{
        padding: 0;
    }
    .video{
        display:none;
    }
    .texto{
        width: 100%;
        border-radius: 0;
    }
    .entregas{
        width: 100%;
        border-radius: 0;
        height: 100dvh;
    }
    .conteudo.show{
        padding: 10px;
        border-radius: 0;
        height: 86%;
    }
    .tab-buttons{
        flex-direction: column;
        gap: 10px;
    }
    .projetos{
        width: 100%;
        height: 150vh;
    }
    .filtro{
        width: 100%;
        border-radius: 0;
    }
    .filtro ul{
        width: 100%;
        flex-wrap: wrap;
    }
    .navegacao{
        width: 100%;
        height: 60dvh;
    }
    .span .tudo-proj img{
        height: 70%;
    }
    .span .tudo-proj  i{
        right: 5%;
    }
    footer{
        height: 100dvh;
    }
    footer p{
        font-size: 20px;
     }
     .tabela-disciplinas{
        width: 100%;
     }
     .tabela-disciplinas th,
     .tabela-disciplinas td {
         font-size: 14px; /* Ajuste o tamanho da fonte conforme necessário */
         padding: 4px; /* Ajuste o padding conforme necessário */
     }
}
/*coloqui o whatssap no navbar, deixei ele invisivel para o computador, coloqui outro flutuante*/

/* para funcionar no mobi eu diminui o tamanho da contencao do navbair */